<footer>
    <div class="footer_body">
        <div>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>Wanderlust Private Limited</div>
        <div>
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>