<% layout("layouts/boilerPlate1") %>

    <body>
        <div class="container">
            <div class="row">
                <form action="/allListings" method="POST" novalidate class="form1AddListing needs-validation col-8 offset-2">
                    <p>
                    <h2 class="f1HeadText">Add New Listing</h2>
                    </p>
                    <div class="mb-3">
                        <label for="titleF1" class="form-label">Title</label><br>
                        <input type="text" placeholder="Enter Title" name="title1" id="titleF1" class="form-control"
                            required> 
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please Enter a valid Title</div>
                    </div>

                    <div class="mb-3">
                        <label for="locationF1" class="form-label">Location</label><br>
                        <input type="text" placeholder="Enter location" name="location1" class="form-control"
                            id="locationF1" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please Enter a valid Location</div>
                    </div>

                    <div class="f1OneLine row">
                        <div class="mb-3 col-6">
                            <label for="countryF1" class="form-label">Country</label><br>
                            <input type="text" class="form-control" placeholder="Enter country" name="country1"
                                id="countryF1" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter a valid Country</div>
                        </div>

                        <div class="mb-3 col-4">
                            <label for="priceF1" class="form-label">Price</label><br>
                            <input type="number" class="form-control" placeholder="Enter Price" name="price1"
                                id="priceF1" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter a valid price</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image_urlF1" class="form-label">Image-URL</label><br>
                        <input type="text" placeholder="Enter image URL" name="image_url1" class="form-control"
                            id="image_urlF1" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please Enter a valid image URL</div>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionF1" class="form-label">Description</label><br>
                        <textarea name="description1" class="form-control" placeholder="Enter description"
                            id="descriptionF1" cols="30" rows="10" required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please Enter a valid Description</div>
                    </div>

                    <div class="mb-3">
                        <!-- <button type="submit" style="background-color: red; color:white; border:0px">Add</button> -->
                        <button class="btn btn-primary" type="submit"
                            style="background-color: red; border:0px">Add</button>
                    </div>

                </form>
            </div>

        </div>
    </body>